In [ ]:
#LAB 1

In [3]:
a=3
print(a)
print("ddu")

3
ddu

In [4]:
3+5

8

In [5]:
3-5

-2

In [6]:
3*5

15

In [7]:
5/3

1.6666666666666667

In [8]:
5**2

25

In [9]:
5%2

1

In [10]:
5//3

1

In [11]:
1==1

True

In [12]:
1!=1

False

In [13]:
1<2

True

In [14]:
1>4

False

In [15]:
1>=1

True

In [16]:
1<=2

True

In [17]:
a=5

In [18]:
a=5
a

5

In [19]:
a+=3
a

8

In [20]:
a**=2

In [21]:
a

64

In [23]:
a//=4
a

4

In [24]:
True and False

False

In [25]:
True or False

True

In [26]:
'hello' in "hello india"

True

In [27]:
~7

-8

In [28]:
a=3+5
print(a)
print("Deepang")

8
Deepang

In [30]:
'abc'is'abc'

True

In [31]:
'Isn\'t,she said.'

"Isn't,she said."

In [32]:
print('First Line.\nSecond Line.')

First Line.
Second Line.

In [33]:
print(r'C:\some\name')

C:\some\name

In [34]:
name="Hello DDU"
name[1:4]

'ell'

In [35]:
"Hello" is not "hello"

True

In [36]:
n=input("Enter number: ")
if int(n)>0:
    print(str(n)+" is positive")

Enter number: 5
5 is positive

In [37]:
a=10
id(a)
b=a
print(b)
id(b)

10

8854880

In [38]:
n=0
while n<10:
    print(n)
    n=n+1
else:
    print("count greater")
print("End of loop")

0
1
2
3
4
5
6
7
8
9
count greater
End of loop

In [39]:
b=b+1
print(b)
id(b)

11

8854912

In [40]:
for index in [1,2,3,4,5]:
    print(index)

1
2
3
4
5

In [41]:
x=300
id(x)
y=x

In [42]:
print(id(x))
print(id(y))

140677702318192
140677702318192

In [43]:

y=300
id(y)

140677702317968

In [44]:
for letter in 'helloworld':
    pass
print ('Last Letter :', letter)

Last Letter : d

In [ ]:
#LAB 1 EXERCISE

In [ ]:
1. Write a program which accepts a number from user and display that number if and only if it
is positive value.

In [1]:
print("Exercise Start\n\n")
n=input("Enter Number: ")
if float(n)>0:
    print(n)
else:
    print("NOT POSITIVE")

Exercise Start


Enter Number: -5
NOT POSITIVE

In [ ]:
2. Write a program which accepts average marks of student and if average is greater than 40
then it will display a message “Congratulation!!! You pass this exam successfully” else it
will display “Sorry!!! Better luck next time”.

In [2]:
n=input("Enter Average Marks: ")
if float(n)>40:
    print('"Congratulation!!! You pass this exam successfully"')
else:
    print('"Sorry!!! Better luck next time."')

Enter Average Marks: 40.5
"Congratulation!!! You pass this exam successfully"

In [ ]:
3. Write a program which accepts marks of five subject and based on average of those marks it
will display appropriate grade.

In [3]:
sum=0
for a in range(1,6):
    inp=input('Enter input mark for subject '+str(a)+" ")
    sum=sum+int(inp)
    
avg=float(sum/5)
print('Average is ',avg)

grade=int(avg%10)
if grade > 7.5:
    print("Distinction")
elif grade >=4:
    print("Pass")
else:
    print("Fail")

Enter input mark for subject 1 100
Enter input mark for subject 2 100
Enter input mark for subject 3 100
Enter input mark for subject 4 100
Enter input mark for subject 5 98
Average is  99.6
Distinction

In [ ]:
4. Write a program to find largest number out of three numbers entered by user.

In [5]:
array=[]
for i in range(1,4):
    array.append(int(input("Enter number ")))
max=array[0]
for data in array[1:]:
    if data > max:
        max = data
print("Maximum is",max)

Enter number 12
Enter number 45
Enter number 22
Maximum is 45

In [ ]:
Check the output of following code and try to justify the output:

In [7]:
a=-5
if a>0:
    if a%2==0:
        print(str(a)+" is positive even number")
else:
    print(str(a)+" is negative number")

-5 is negative number

In [8]:
a=5
if a>0:
    if a%2==0:
        print(str(a) + " is positive even number")
    else:
        print(str(a) + " is odd number")

5 is odd number

In [ ]:
For the below elements, print binary of modulo 64 (remainder) result.(Hint: Use function bin
and operator %).
1111,3333,1235,2378,1212,1456,2134,2345,1111,8231,2222,9999

In [13]:
array=[]
for i in range(1,13):
    array.append(int(input("Enter number ")))
for n in array[0:]:
    ans = n%64
    binary=bin(ans)
    print(str(n)+" "+str(ans)+" "+str(binary))

Enter number 1111
Enter number 3333
Enter number 1235
Enter number 2378
Enter number 1212
Enter number 1456
Enter number 2134
Enter number 2345
Enter number 1111
Enter number 8231
Enter number 2222
Enter number 9999
1111 23 0b10111
3333 5 0b101
1235 19 0b10011
2378 10 0b1010
1212 60 0b111100
1456 48 0b110000
2134 22 0b10110
2345 41 0b101001
1111 23 0b10111
8231 39 0b100111
2222 46 0b101110
9999 15 0b1111

In [ ]:
Write a program to check whether entered number is prime or not.

In [16]:
inn = int(input("Enter number: "))
c=0
for t in range(1,inn+1):
    if inn % t == 0:
        c=c+1

if c == 2 or inn ==1:
    print("Input number is a prime number")
else:
    print("Input number is not a prime")

Enter number: 2
Input number is a prime number

In [ ]:
Write a program to display armstrong numbers between 1 to n.(where value of n will be
provided by user).

In [18]:
n = int(input("Enter range: "))
for i in range(1,n):
    j=i
    sum=0
    while(int(j)!=0):
        d=j%10
        sum=sum+(d*d*d)
        j=j//10
    if sum == i:
        print(str(i)+" \n ")

Enter range: 1000
1

153

370

371

407

In [ ]:
#LAB 2

In [1]:
my_list=[]
print(my_list)
my_list=[1,2,3]
print(my_list)
my_list=[1,"Hello",3.4]
print(my_list)

[]
[1, 2, 3]
[1, 'Hello', 3.4]

In [2]:
l=['h','e','l','l','o','w','o','r','l','d']
print(l)
print(l[2])
print(l[-4])

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
l
o

In [3]:
print(l[2:6])

['l', 'l', 'o', 'w']

In [4]:
l[:4]

['h', 'e', 'l', 'l']

In [6]:
l[6:]

['o', 'r', 'l', 'd']

In [7]:
t=1,3,"hello",4,3.5
t

(1, 3, 'hello', 4, 3.5)

In [15]:
d= int(input()),int(input()),int(input())
d

3
4
5

(3, 4, 5)

In [16]:
t[1]

3

In [20]:
t[3]=4.0

TypeError: 'tuple' object does not support item assignment

In [21]:
s=set("234516")
s

{'1', '2', '3', '4', '5', '6'}

In [22]:
s1={'h','e','l','l','o'}
s1

{'e', 'h', 'l', 'o'}

In [27]:
tel={'abc':123, 'xyz':456, 'abc':153}
tel

{'abc': 153, 'xyz': 456}

In [28]:
tel['abc']

153

In [29]:
'abc' in tel

True

In [30]:
'abc' not in tel

False

In [31]:
d={"def":345, "xyz":67, "abc":123}
d

{'def': 345, 'xyz': 67, 'abc': 123}

In [32]:
del d['abc']

In [33]:
d

{'def': 345, 'xyz': 67}

In [34]:
del d

In [35]:
d

NameError: name 'd' is not defined

In [36]:
s='horse'
print(s)
i=iter(s)
l=[]
l.extend(i);
print(l)

horse
['h', 'o', 'r', 's', 'e']

In [ ]:
#LAB2 EXERCISE

In [ ]:
Write a program that stores following names in a list.Also write instruction to iteratively print names from the list.

In [ ]:
a=['ramu','shyamu','kanu','manu','ramu','radha','manu']
for name in a:
    print(name)

ramu
shyamu
kanu
manu
ramu
radha
manu

In [ ]:
Write a program to remove duplicates from the list (created in Ex:(1)) and print unique names.

In [15]:
a=['ramu','shyamu','kanu','manu','ramu','radha','manu']
b=set()
for name in a:
    b.add(name)
for name in b:
    print(name)

kanu
radha
shyamu
manu
ramu

In [ ]:
Write a program to create a record of student details. The record maintains following information < student_id, name, age, percentage>.
Record1 : 1, „ram‟, „18‟, 65%
Record 2 : 2, „shyam‟, 17‟, 70%
add following records to the ‘student_record’ created in (3)
Record 3 : 3, „Radha‟, „17‟, 75%

In [18]:
print("<student_id, name, age, percentage>")
st1=1,'ram','18','65%'
st2=2,'shyam','17','70%'
print(st1)
print(st2)

<student_id, name, age, percentage>
(1, 'ram', '18', '65%')
(2, 'shyam', '17', '70%')

In [ ]:
Write a program to concat student records (created in (3)) of different semesters.

In [20]:
print("<student_id, name, age, percentage>")
st1=1,'ram','18','65%'
st2=2,'shyam','17','70%'
record=[st1,st2]
st3=3,'Radha','17','75%'
record.append(st3)
for rec in record:
    print(rec)

<student_id, name, age, percentage>
(1, 'ram', '18', '65%')
(2, 'shyam', '17', '70%')
(3, 'Radha', '17', '75%')

In [23]:
st1=1,'ram','18','65%'
st2=2,'shyam','17','70%'
print("concat")
print(st1 + st2)

concat
(1, 'ram', '18', '65%', 2, 'shyam', '17', '70%')

In [ ]:
Write a program to print record of first 5 students.

In [24]:
st1=1,'ram','18','65%'
st2=2,'shyam','17','70%'
st3=3,'ramu','18','65%'
st4=4,'radha','17','70%'
st5=5,'manu','18','65%'
record=[st1,st2,st3,st4,st5]
for rec in record:
    print(rec)

(1, 'ram', '18', '65%')
(2, 'shyam', '17', '70%')
(3, 'ramu', '18', '65%')
(4, 'radha', '17', '70%')
(5, 'manu', '18', '65%')

In [ ]:
Write a program to delete record of a specific student

In [35]:
st1=1,'ram','18','65%'
st2=2,'shyam','17','70%'
st3=3,'ramu','18','65%'
st4=4,'radha','17','70%'
st5=5,'manu','18','65%'
record=[st1,st2,st3,st4,st5]
for rec in record:
    print(rec)
print()
print("After Deleting Ramu")
del record[2]
for rec in record:
    print(rec)

(1, 'ram', '18', '65%')
(2, 'shyam', '17', '70%')
(3, 'ramu', '18', '65%')
(4, 'radha', '17', '70%')
(5, 'manu', '18', '65%')

After Deleting Ramu
(1, 'ram', '18', '65%')
(2, 'shyam', '17', '70%')
(4, 'radha', '17', '70%')
(5, 'manu', '18', '65%')

In [ ]:
Write a program to combine following dictionaries by averaging values for common keys.

In [67]:
D1 = {'ram':60, 'shyam':70, 'radha':70}
D2 = {'ram':70, 'shyam':80, 'gopi':60}

In [ ]:
Write a program to sort student record by values

In [92]:
st1='ram',1,'18','65%'
st2='shyam',2,'17','70%'
st3='ramu',3,'18','65%'
st4='radha',4,'17','70%'
st5='manu',5,'18','65%'
name = {st1,st2,st3,st4,st5}
for i in sorted(name):
    print(i)

('manu', 5, '18', '65%')
('radha', 4, '17', '70%')
('ram', 1, '18', '65%')
('ramu', 3, '18', '65%')
('shyam', 2, '17', '70%')

In [ ]:
Write a program to print all unique values in a dictionary.
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

In [93]:
lst=({"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},  {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"})
s=set()
for i in lst:
    for key in i.keys():
        s.add(i[key])
ss=sorted(s)
for ele in ss:
    print (ele)

S001
S002
S005
S007
S009

In [ ]:
Following are the lists of students studying Maths, Physics and Chemistry subjects,
Maths = {1, 2, 3, 5, 7, 9}
Physics = { 2, 4, 6, 9}
Chemistry = {1, 3, 5, 9}
Display the numbers which are studying both maths & physics, physics & chemistry, maths&chemistry and all three. Also, display the numbers which are studying exactly one of the three subjects.

In [98]:
maths = {1, 2, 3, 5, 7, 9} 
physics = {2, 4, 6, 9}
chemistry = {1, 3, 5, 9}

print("Both Maths and Physics")
print (maths.intersection(physics))

print("Both Physics and Chemistry" )
print (physics.intersection(chemistry))

print("Both Maths and Chemistry")
print (maths.intersection(chemistry))

print("All Three")
print (maths.intersection(chemistry).intersection(physics))

oneonly =set()
print("Exactly one of the Three Subjects")
for x in sMaths.difference(sPhysics).difference(sChemistry):
    oneonly.add(x)

for x in sPhysics.difference(sChemistry).difference(sMaths):
    oneonly.add(x)

for x in sChemistry.difference(sMaths).difference(sPhysics):
    oneonly.add(x)

print (oneonly)

Both Maths and Physics
{9, 2}
Both Physics and Chemistry
{9}
Both Maths and Chemistry
{1, 3, 5, 9}
All Three
{9}
Exactly one of the Three Subjects
{4, 6, 7}

In [ ]:
#LAB 2 Function

In [4]:
def printinfo(arg1, *vartuple):
    "THIS prints a variable passed arguments"
    print("Output is: ")
    print(arg1)
    for var in vartuple:
        print(var)
    return;
printinfo(1)
printinfo(1,2,3,4,5)

Output is:
1
Output is:
1
2
3
4
5

In [7]:
avg = lambda arg1,arg2: (arg1+arg2)/2;
print(avg(10,20.23))

15.115

In [9]:
def fun1(name,age):
    print("Name is: ",name)
    print("Age is: ",age)
    return
fun1("Deepang",19)
fun1(age=30,name="Virat")

Name is:  Deepang
Age is:  19
Name is:  Virat
Age is:  30

In [12]:
def changeme(l):
    l.append("You are number 1")
    print(l)
    return
mylist=["Deepang"]
changeme(mylist)

['Deepang', 'You are number 1']

In [ ]:
#LAB2 EXERCISE-2

In [ ]:
Check the output of following code

In [1]:
x=50
def func(x):
    print('x is', x)
    x=2
    print('Changed local x to', x)
func(x)
print('x is now',x)

x is 50
Changed local x to 2
x is now 50

In [ ]:
Write a function to print largest number from provided 3 values as parameter.

In [2]:
def lar(x,y,z):
    a=max(x,y,z)
    print(float(a),'is largest')
lar(10,20.2332332,20.2332232)

20.2332332 is largest

In [ ]:
Write a function to print prime numbers between provided range.

In [22]:
def prime(a,b):
    for i in range(a,b):
        a=0
        for x in range(2,int(i/2)+1):
            if i%x==0:
                a=1
                break
        if a==0:
            print(i, end=" ")
prime(1,10)

1 2 3 5 7

In [ ]:
Write a function to swap two values provided as arguments.

In [23]:
def swap(a,b):
    a,b=b,a
    print('After swapping',int(a),int(b))
    return
swap(5,10)

After swapping 10 5

In [ ]:
Write a function to compute simple interest using provided values as arguments
if rate of interest is not provided consider it as 3.5%.

In [47]:
def SI(pa,ir,t):
    if(ir==''):
        ir=3.5
    a=pa*(1.0+ ((ir/100)*t))
    print(a)
    return
SI(10000,3,5)

11500.0

In [ ]:
Write a function to compute the sum of data of variable length.

In [52]:
def sumvar(*var):
    val=0
    for v in var:
        val=val+v
    print('Sum is',val)
    return
sumvar(1,2,3,4,5)

Sum is 15

In [ ]:
#LAB 3

In [2]:
fo = open("file1","r")
print("File Name: ", fo.name)
print("Closed? : ",fo.closed)
str = fo.read(5)
print(str)
fo.close()

File Name:  file1
Closed? :  False
hello

In [3]:
fo = open("file1","rb")
print("File Name: ", fo.name)
print("Closed? : ",fo.closed)
str = fo.read(5)
print(str)
fo.close()

File Name:  file1
Closed? :  False
b'hello'

In [7]:
fo = open("file1","r+")
fo.write("Hello HI Bye")
str1 = fo.read()
print(str1)
fo.close()

Hello HI ByeHello HI Bye

In [9]:
fo = open("file1","rb+")
str1 = fo.read()
print(str1)
fo.close()

b'Hello HI ByeHello HI ByeHello HI Bye'

In [22]:
fo = open("file1","w")
fo.write("GOODBYE")
fo.close()

In [21]:
fo = open("file1","wb")
fo.write(bytes(110011))
fo.close()

In [28]:
fo = open("file1","a")
fo.write(" DEEPANG")
fo.close()

In [24]:
fo = open("file1","w+")
print("File Name: ", fo.name)
print("Closed? : ",fo.closed)
print("Opening mode : ", fo.mode)
fo.close()
print("Closed? : ", fo.closed)

File Name:  file1
Closed? :  False
Opening mode :  w+
Closed? :  True

In [39]:
fo = open("file1","r+")
str = fo.read()
print("Read String is : ",str)
position = fo.tell()
print("Current file position : ",position)
position = fo.seek (1,0)
print("Current file position : ",position)
str = fo.read()
print("Again read String is :  ",str)
fo.close()

Read String is :   DEEPANG RAVAL
Current file position :  14
Current file position :  1
Again read String is :   DEEPANG RAVAL

In [ ]:
#LAB3 EXERCISE

In [ ]:
Write a program to read a text file and find unique words with their occurrences and display tabular form the analysis.

In [8]:
def file(inp):
    inp = open(inp, 'r')
    con = inp.read()
    inp.close()
    counts = dict()
    wl = con.split()
    print(wl)
    print()
    print("Unique Words")
    for word1 in wl:
        if word1 in counts:
            counts[word1] += 1
        else:
            counts[word1] = 1
    print(counts)
file("file2.txt")

['hi', 'hello', 'hi', 'bye', 'one', 'two', 'three', 'hi', 'hi']

Unique Words
{'hi': 4, 'hello': 1, 'bye': 1, 'one': 1, 'two': 1, 'three': 1}

In [ ]:
Write a program which reads a sample C Program file as input, stores the content to the another file without any single line comments within.

In [9]:
f1=open("numbers.c",'r')
f2=open("numbers2.c",'w')
for line in f1:
    if(line.rfind("//")==-1):
        f2.write(line)
f1.close()
f2.close()
ff=open("numbers2.c",'r')
for line_1 in ff:
    for word in line_1.split():
        print(word)
ff.close()

#include
<stdio.h>
int
main()
{
int
n;
printf("Enter
an
integer\n");
scanf("%d",
&n);
if
(n%2
==
0)
printf("Even\n");
else
printf("Odd\n");
return
0;
}

In [ ]:
Store students' records to a file named students.csv. Know that record contains following information <student_id, name, age, percentage>. '.csv' format contains comma-separated values of record line by line.

In [10]:
import csv
rec1=(1,'Deepang','19',95)
rec2=(2,'Hanuman','19',100)
rec3=(3,'Brahma','19',90)
students=[rec1,rec2,rec3]
for Student in students:
    print(Student)
with open("students.csv",'w',newline='') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerows(students)

(1, 'Deepang', '19', 95)
(2, 'Hanuman', '19', 100)
(3, 'Brahma', '19', 90)

In [ ]:
Read file students.csv and display tabular form students records. Also, count and at the end display total how many students are recorded in the file (count).

In [11]:
import csv
count=0
with open("students.csv",newline="\n") as csvfile:
    reader=csv.reader(csvfile)
    for row in reader:
        print(row)
        count+=1
print("Total students are",count)

['1', 'Deepang', '19', '95']
['2', 'Hanuman', '19', '100']
['3', 'Brahma', '19', '90']
Total students are 3

In [ ]:
Learn handling file I/O errors using exception handling in Python.
https://docs.python.org/3/tutorial/errors.html#exceptions Run the given python program in below different scenarios and check output to understand exception handling:

In [12]:
with open("myfile.txt",'w+') as f1:
    f1.write("1 2 3")
    f1.seek(0,0)
    print(f1.read())

1 2 3

In [13]:
with open("myfile.txt",'w+') as f1:
    f1.write("123")
    f1.seek(0,0)
    print(f1.read())

123

In [14]:
import sys
try:
    f=open('myfile.txt')
    s=f.readline()
    i=int(s.strip())
    print(i)
except OSError as err:
    print("OS error: {0}".format(err))
except ValueError:
    print("Could not convert data to an integer.")
except:
    print("Unexpected error:",sys.exc_info()[0])
    raise

123

In [ ]:
Also, practice JSON data handling using python.

In [7]:
import json
j=json.dumps([1,'simple','out'])
print(j)
fo=open("data.json",'w')
json.dump(j,fo)
fo.close()
fi=open("data.json",'r')
x=json.load(fi)
fi.close()
print(x)
print("ready existing json file")
with open("input.json",'r') as f:
    y=json.load(f)
print(y)
print(type(y))

[1, "simple", "out"]
[1, "simple", "out"]
ready existing json file
{'glossary': {'title': 'example glossary', 'GlossDiv': {'title': 'S', 'GlossList': {'GlossEntry': {'ID': 'SGML', 'SortAs': 'SGML', 'GlossTerm': 'Standard Generalized Markup Language', 'Acronym': 'SGML', 'Abbrev': 'ISO 8879:1986', 'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}, 'GlossSee': 'markup'}}}}}
<class 'dict'>

In [ ]:
#LAB 4

In [2]:
class Student:
    branch="CE"
    def __init__(self,name,sid):
        self.name=name
        self.sid=sid
        Student.branch="CE"
        
    def displayDetail(self):
        print(self.name+" "+str(self.sid)+" "+Student.branch)
        return
s=Student("XYZ",10)
s.displayDetail()

XYZ 10 CE

In [4]:
class Parent:
    def __init__(self,att1):
        self.att1=att1
    def getAtt1(self):
        return self.att1
    
class Child(Parent):
    def __init__(self,att1,att2):
        self.att2=att2
        super().__init__(att1)
    def getAtt2(self):
        return self.att2
p=Parent(1)
c=Child(2,3)
print(p.getAtt1())
print(c.getAtt1())
print(c.getAtt2())
print(p.getAtt1())

1
2
3
1

In [9]:
class A:
    def meth1(self,i):
        print("First Method")
        
    def meth1(self,i,j):
        print("Second Method "+str(i))
ob=A()
ob.meth1(2)

TypeError: meth1() missing 1 required positional argument: 'j'

In [12]:
class Parent:
    def __init__(self,att1):
        self.att1=att1
    def getAtt1(self):
        return self.att1
    
class Child(Parent):
    def __init__(self,att1,att2):
        self.att2=att2
        super().__init__(att1)
    def getAtt2(self):
        return self.att2
    def getAtt1(self):
        return self.att1*2
p=Parent(1)
c=Child(2,3)
print(p.getAtt1())
print(c.getAtt1())
print(c.getAtt2())

1
4
3

In [14]:
class Vector:
    def __init__(self,a,b):
        self.a=a
        self.b=b
        
    def __str__(self):
        return 'Vector (%d, %d)' % (self.a, self.b)
    
    def __add__(self,other):
        return Vector(self.a+other.a,self.b+other.b)
    
v1=Vector(2,10)
v2=Vector(5,-2)
print(v1+v2)

Vector (7, 8)

In [ ]:
#EXERCISE#

In [ ]:
Create a class Counter having one member variable count. Initialize it with zero with creation of each object and also write member method countUp to increase the value of count by one with every method call.

In [27]:
class Counter:
    def __init__(self):
        self.count=0
    def countUp(self):
        self.count+=1
    def getCount(self):
        return self.count
c=Counter()
c.countUp()
c.countUp()
print(c.getCount())

2

In [ ]:
Import above module(consider that Counter class is defined in file P1.py) and derive a class CountDown from Counter class with one more method countDown to decrease a value of count by one with every method call.

In [32]:
import CounterClass 

class CountDown(Counter):
    def __init__(self):
        super().__init__()
    def countDown(self):
        self.count-=1
c=CountDown()
c.countUp()
c.countUp()
c.countDown()
c.countUp()
c.countUp()
print(c.getCount())

3

In [ ]:
In above program override countUp method to increase the value of count by 2 with each method call.

In [33]:
import CounterClass

class CountUp(Counter):
    def __init__(self):
        super().__init__()
    def countUp(self):
        self.count+=2
        
c=CountUp()
c.countUp()
c.countUp()
print(c.getCount())

4

In [ ]:
Create class exam having three member variable to store the marks of three subject. Overload <, > and = operator to compare two object of Exam class based on total marks. Also write executable statements to test Exam class.

In [39]:
class Exam:
    def __init__(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
    def __lt__(self,other):
        if (self.m1+self.m2+self.m3 < other.m1+other.m2+other.m3):
            return 'It is Less'
        else:
            return 'It is Not Less'
    def __gt__(self,other):
        if (self.m1+self.m2+self.m3 > other.m1+other.m2+other.m3):
            return 'It is Greater'
        else:
            return 'It is not Greater'
    def __eq__(self,other):
        if (self.m1+self.m2+self.m3 == other.m1+other.m2+other.m3):
            return 'It is Equal'
        else:
            return 'It is Not Equal'
e1=Exam(50,75,80)
e2=Exam(70,43,29)
print(e1<e2)
print(e1>e2)
print(e1==e2)

It is Not Less
It is Greater
It is Not Equal

In [ ]:
Create a package Calculator having four files add.py, sub.py, mul.py and div.py with functions to perform addition, subtraction, multiplication and division respectively. Import Calculator package in your code and implement simple calculator.

In [5]:
import add
print(add(1,2))

TypeError: 'module' object is not callable

TypeError: 'module' object is not callable